project.lock.json
*.suo
*.sln.DotSettings.user
*.mdf
*.ldf
*.feature.cs
StyleCop.Cache

Solutions/packages
bin
obj
**/.vs/config/applicationhost.config
**/.vs/restore.dg
**/node_modules
**/wwwroot/lib/
**/wwwroot/**/*.css
site.min.js
*.xproj.user
compilerconfig.json
compilerconfig.json.defaults
