@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-3">
    @Html.Partial("_Panel", "Task 1")
</div>

<div class="col-md-3">
    @Html.Partial("_Panel", "Task 2")
</div>

<div class="col-md-3">
    @Html.Partial("_Panel", "Task 3")
</div>